.main-panel {
	-fx-background-color: rgb(10,10,10);
}
.label {
	-fx-text-fill: rgba(128,205,255,0.7);
}
.button {
	-fx-background-color: rgba(128,205,255,0.1);
	-fx-background-radius: 10px;
	-fx-text-fill: rgba(128,205,255,0.7);
	-fx-border-color: rgba(128,205,255,0.3);
	-fx-border-radius: 10px;
	-fx-border-width: 1px;
	-fx-padding: 1px;
}

.button:hover {
	-fx-background-color: rgba(128,205,255,0.25);
}

.add {
	-fx-graphic: url("add.png");
}

.alarm-cell .label, .alarm-cell .button {
	-fx-opacity: 0.2;
}

.alarm-cell:active .label, .alarm-cell:active .button {
	-fx-opacity: 1.0;
}

.alarm-cell .button {
	-fx-background-image: url("settings.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.alarm-cell .button:hover {
	-fx-opacity: 1.0;
}

.alarm-cell .time {
	-fx-background-image: url("inactive.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: 9px center;
	-fx-font-size: 15pt;
	-fx-padding: 0 0 0 50px;
}

.alarm-cell:active .time {
	-fx-background-image: url("active.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: 9px center;
}

.alarm-cell .media-description {
	-fx-font-size: 7pt;
	-fx-padding: 0 5px 0 50px;
}

.alarm-cell .weekdays {
	-fx-font-size: 7pt;
	-fx-padding: 0 5px 0 0;
}

.time .display {
	-fx-font-size: 40pt;
}

.time .setting {
	-fx-font-size: 15pt;
}

.clock .label {
	-fx-font-size: 120pt;
}

.pointer .circle {
	-fx-fill: rgb(10,10,10);
	-fx-stroke: rgba(128,205,255,0.3);
}

.pointer .line {
	-fx-fill: rgb(10,10,10);
	-fx-stroke: rgba(128,205,255,0.3);
}

.main-panel:active .alarm-view, .main-panel:active .top-bar {
	-fx-opacity: 1.0;
}

.main-panel .alarm-view, .main-panel .top-bar {
	-fx-opacity: 0.1;
}