.root {
	active-color: rgba(128.0,205.0,255.0,0.25);
	background-color: rgb(10.0,10.0,10.0);
	border-color: rgba(128.0,205.0,255.0,0.3);
	text-color: rgba(128.0,205.0,255.0,0.7);
}

.main-panel {
	-fx-background-color: background-color;
}
.label {
	-fx-text-fill: text-color;
}
.button {
	-fx-background-color: rgba(128.0,205.0,255.0,0.1);
	-fx-background-radius: 10.0px;
	-fx-text-fill: text-color;
	-fx-border-color: border-color;
	-fx-border-radius: 10.0px;
	-fx-border-width: 2.0px;
	-fx-padding: 1.0px;
}

.button:hover {
	-fx-background-color: active-color;
}

.add {
	-fx-graphic: url("add.png");
}

.active {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-graphic: url("inactive.png");
	-fx-text-fill: text-color;
}

.active:selected {
	-fx-graphic: url("active.png");
}

.alarm-cell {
	-fx-opacity: 0.2;
}

.alarm-cell:active {
	-fx-opacity: 1.0;
}

.alarm-cell .button {
	-fx-background-image: url("settings.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.alarm-cell .button:hover {
	-fx-opacity: 1.0;
}

.alarm-cell .time {
	-fx-font-size: 13.0pt;
	-fx-text-alignement: left;
}

.check-box {
	-fx-text-fill: text-color;
}

.check-box>.box {
  -fx-background-insets: 0.0;
  -fx-background-radius: 0.0;
  -fx-background-color: transparent;
}

.alarm-cell .media-description {
	-fx-font-size: 9.0pt;
}

.alarm-cell .weekdays {
	-fx-font-size: 9.0pt;
	-fx-padding: 0.0 5.0px 0.0 0.0;
}

.alarm-menu .time {
	-fx-font-size: 39.0pt;
	-fx-text-alignement: left;
}
.alarm-menu .media-description {
	-fx-font-size: 21.0pt;
	-fx-alignement: center-left;
	-fx-text-alignement: left;
}

.alarm-menu .weekdays {
	-fx-font-size: 21.0pt;
	-fx-padding: 0.0 5.0px 0.0 0.0;
	-fx-text-alignement: right;
}

.shutdown {
	-fx-background-image: url("shutdown.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.stop {
	-fx-background-image: url("stop.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.start {
	-fx-background-image: url("play.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.time {
	-fx-font-size: 60.0pt;
}

.time .setting {
	-fx-font-size: 15.0pt;
}

.clock .label {
	-fx-font-size: 200.0pt;
}

.pointer .circle {
	-fx-fill: background-color;
	-fx-stroke: border-color;
}

.pointer .line {
	-fx-fill: background-color;
	-fx-stroke: border-color;
}

.delete {
	-fx-background-image: url("delete.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.main-panel:active .alarm-view, .main-panel:active .top-bar {
	-fx-opacity: 1.0;
}

.main-panel .alarm-view, .main-panel .top-bar {
	-fx-opacity: 0.1;
}

.media-selector {
	-fx-background-color: background-color;
	-fx-text-fill: text-color;
	-fx-font-size: 15.0pt;
}

.media-selector .label {
	-fx-font-weight: bold;
    -fx-border-color: border-color;
    -fx-border-width: 0 0 2 0;
}

.media-selector .previous {
	-fx-background-image: url("previous.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.media-selector .refresh {
	-fx-background-image: url("refresh.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.list-view {
    -fx-background-color: background-color;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-view:focused {
    -fx-background-color: background-color; 
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.list-view > .virtual-flow > .scroll-bar:vertical {
    -fx-background-color: background-color;
    -fx-background-insets: 0;
}
.list-view > .virtual-flow > .scroll-bar:horizontal {
    -fx-background-color: background-color;
    -fx-background-insets: 0;
}

.list-cell {
    -fx-background-color: background-color;
    -fx-text-fill: text-color;
}

.list-cell:odd {
    -fx-background-color: derive(background-color, 20%);
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background-color: text-color;
    -fx-text-color: background-color;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused {
    -fx-background-color: text-color;
    -fx-text-fill: background-color;
}

.scroll-bar > .thumb,
.scroll-bar > .increment-button,
.scroll-bar > .decrement-button,
.scroll-bar > .thumb:pressed,
.scroll-bar > .increment-button:pressed,
.scroll-bar > .decrement-button:pressed {
	-fx-color: text-color;
	-fx-padding: 15px;
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
	-fx-background-color: background-color;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    /*-fx-tab-min-height: 120px;
    -fx-tab-min-width: 40px;
    -fx-tab-max-width: 40px;
    -fx-padding: 0;*/
}

.tab {
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.tab-pane .tab {
    -fx-background-color: background-color;
}

.tab-pane .tab:selected {
    -fx-background-color: active-color;
    -fx-background-insets: 0;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: text-color;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    /*-fx-rotate: 90;*/
    -fx-padding: 0 20 0 20;
}

.tab-pane .tab-content-area {
	-fx-padding: 15;
}